################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MeDirect.TradeAgent/.vs/MeDirect.TradeAgent
bin
obj
packages
